#product_list
  %h1 Post
  %table
    - @posts.each do |post|
      %tr{:class => "#{cycle('list_line_odd', 'list_line_even')}"}
        %td
          = image_tag(post.image_url, :class => 'list_image')
        %td.list_description
          %dl
            %dt= post.title
            %dd= truncate(strip_tags(post.description), |
                :length => 80)                            |
        %td.list_actions
          = link_to 'Show', post
          %br/
          = link_to 'Edit', edit_post_path(post)
          %br/
          = link_to 'Destroy', post,         |
            data: { confirm: 'Are you sure?' }, |
            :method => :delete                  |
%br/
